<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio web Con Python y Flask</title>
    </head>
<body>
    <h2>Bienvenid@ a mi sitio WEB</h2>

    IMC: {{ imc }} Peso: {{ mensaje }}

    <form action="/" method="post">

        Peso: <input type="text" name="txtPeso" id="">
        <br>
        Altura: <input type="text" name="txtAltura" id="">
        <br>
        <input type="submit" value="Calcular IMC">

    </form>
</body>
</html>